body{
    background-color:#002752;
}
#headerNavbar{
    background-color: #c82057;
    border-radius: 0;
    border: 0;
}

#logoimg{
    background: url("../img/13.png");
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 0;
}
.navbar brand{
    padding-top: 25px;
}

.navbar-brand h1{
    font-family: 'Sofia' ,serif;
    color: azure;
    font-size: 1.5em;
    text-transform: uppercase;
    font-width:bold;
}