body{
    background-color: #1815d9;
}

.double-nav .breadcrumb-dn {
    color: #fff;
}

#navbarNav span{
    background-color: #ED1015;
    bottom: 0;
    right: 0;
    width: 100%;
    color: #fdfdfe;
    opacity: .9;
}
@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
    #search{
        display: none;
    }
}

@media (min-width: 300px) and (max-width: 991px) {
    #social{
        display: none;
    }
    #search{
        display: none;
    }
}
@media (min-width: 0px) and (max-width: 299px){
    #search{
        display: none;
    }
    #social{
        display: none;
    }
}
#title-map,#title-menu,#title-special{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #202326;
    overflow: hidden;
    padding: 10px;
}
#title-menu:hover,#title-special:hover,#title-map:hover{
    box-shadow: 0 1px 5px 1px #39ed18;
}
#title-menu{
    background-image: url("../img/10.png");
    background-position: center;
}
#title-map{
}
#title-special{
    background-image: url("../img/13.png");
    background-position: center;
}
#title-map span,#title-menu span,#title-special span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #dc3545;
    color: #fdfdfe;
    opacity: .9;
}
#id-menu{
    padding-top: 30px;
}
.panel-footer{
    padding-top: 40px;
    padding-bottom: 30px;
}
#coperight{
    background-color: #1815D9;
}